# MongoDB connection string
MONGODB_URI=mongodb+srv://<your-username>:<your-password>@cluster0.xxxxx.mongodb.net/nextjsapp

# NextAuth secret (use any random strong string)
NEXTAUTH_SECRET=<your-nextauth-secret>

# ImageKit configs
NEXT_PUBLIC_PUBLIC_KEY=<your-imagekit-public-key>
NEXT_PUBLIC_URL_ENDPOINT=<your-imagekit-url-endpoint>
IMAGEKIT_PRIVATE_KEY=<your-imagekit-private-key>
